@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gunterz-Black';
  src: url('./assets/fonts/Fontspring-DEMO-gunterz-black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gunterz-BoldItalic';
  src: url('./assets/fonts/Fontspring-DEMO-gunterz-bolditalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@layer base {
  :root {
    @apply bg-black text-white antialiased;
  }

  body {
    @apply bg-black text-white overflow-x-hidden;
  }

  /* Custom Scrollbar for 'Vault' feel */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}